events {}

http {
  upstream rust_service {
    server ${RUST_HOST}:${RUST_PORT};
  }

  upstream node_service {
    server ${NODE_HOST}:${NODE_PORT};
  }

  server {
    listen 80;
    return 301 https://$host$request_uri;
  }

  server {
    listen 443 ssl;

    ssl_certificate     /etc/nginx/certs/localhost.pem;
    ssl_certificate_key /etc/nginx/certs/localhost-key.pem;


    location /api/v1/ {
      proxy_pass http://node_service/;
    }

    location /api/v2/ {
      proxy_pass http://rust_service/;
    }
  }
}
